.event-title-row {
	height:20px;
}

.modal-header {
	background-color: black;
	color: white;
}

.modal-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.8em;
	vertical-align: bottom;
}

.modal-icon {
	height: 40px;
	margin-right: 20px;
}

.close {
	color: white;
	opacity: 1;
}

.close:hover {
	color: white;
}

.modal-body {
	padding: 30px;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
}

.modal-body p {
	font-size: 1.3em;
}

.modal-footer {
	margin-top: 0; 
}


.unchecked-label {
	color: rgb(180,180,180);
}

#event-personal-info label {
	cursor: pointer;
	cursor: hand;
	text-align: center;
}

#event-personal-info input[type=radio] {
	display: none;
}

.role-icon {
	height: 55px;
	margin: 2px;
}

#add-pic {
	margin: 40px auto;
	width: 200px;
	height: 200px;
	padding: 5px;
	border: 1px solid rgb(200,200,200);
	background-color: rgba(200,200,200,0.3);
	text-align: left;
	font-weight: normal;
	color: rgb(170,170,170);
}

#event-personal-info input[type=file] {
	display: none;
}

#event-details {
	border-left: 1px dashed black;
}

#event-details input, select, textarea {
	width: 100%;
	margin: 4px 0;
	border-radius: 5px;
	border: 1px solid rgb(200,200,200);
	background-color: rgba(200,200,200,0.3);
}

#event-details textarea {
	height: 100px;
}

#event-details input[type=date] {
	width: 60%;
	float: left;
}

#event-details input[type=time] {
	width: 30%;
	float: right;
}

#numbers-details {
	text-align: left;
	font-size: 1em;
}

#numbers-details label {
	font-weight: normal;
}

#id_budget {
	width: 30% !important;
}

#id_max_people {
	width: 30% !important;
}

#event-specifications {
	border-top: 1px dashed black;
	margin-top: 30px;
	padding-top: 20px;
}

#tags-title {
	text-align: left;
	font-size: 1.5em;
}

#event-specifications label {
	cursor: pointer;
	cursor: hand;
	text-align: center;
}

#event-specifications input[type=checkbox] {
	display: none;
}

.specification-icon {
	height: 50px;
	cursor: pointer;
	cursor: hand;
}

#eat-button {
	background-color: black;
	border-color: rgb(200,200,200);
}
