.event-title-row {
	height:20px;
}

.modal-header {
	background-color: black;
	color: white;
}

.modal-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.8em;
	vertical-align: bottom;
}

.modal-icon {
	height: 40px;
	margin-right: 20px;
}

.close {
	color: white;
	opacity: 1;
}

.close:hover {
	color: white;
}

.modal-body {
	padding: 30px;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
}

.modal-body p {
	font-size: 1.3em;
}

.modal-footer {
	margin-top: 0; 
}

#event-personal-info {
	/*border-right: 1px dashed black;*/
}

#event-personal-info label {
	cursor: pointer;
	cursor: hand;
	text-align: center;
}

#event-personal-info input[type=radio] {
	display: none;
}

.role-icon {
	height: 50px;
	margin: 2px;
}

.add-pic {
	margin: auto;
	width: 200px;
	height: 200px;
	padding: 5px;
	border: 1px solid rgb(200,200,200);
	background-color: rgba(200,200,200,0.3);
	text-align: left;
	font-weight: normal;
	color: rgb(170,170,170);
}

#event-personal-info input[type=file] {
	display: none;
}

#event-details {
	border-left: 1px dashed black;
}

#event-details input, select, textarea {
	width: 100%;
	margin: 4px;
	border-radius: 5px;
	border: 1px solid rgb(200,200,200);
	background-color: rgba(200,200,200,0.3);
}


#event-details textarea {
	height: 100px;
}

#event-specifications {
	border-top: 1px dashed black;
	margin-top: 30px;
	padding-top: 20px;
}

#event-specifications label {
	cursor: pointer;
	cursor: hand;
	text-align: center;
}

#event-specifications input[type=checkbox] {
	display: none;
}

.specification-icon {
	height: 50px;
	cursor: pointer;
	cursor: hand;
}
