.main-page-logo
{
	width:100%;
	text-align: center;
}

#crash-kitchen-text-row
{
	margin-top:13px;
}

#crash-kitchen-text
{
	font-size:25px;
	font-weight: bold;
	text-align: center;
}

#filter-question-row
{
	margin-top:30px;
}


.filter-question
{
	font-size:16px;
	font-weight: bold;
	text-align:center;
	letter-spacing: 2px;
}

.filter-question select
{
	border-radius:1em;
	color:gray;
	
}

#get-ticket-logo-line
{
	margin-top:25px;
}

.on-ticket-element
{
	display: block; 
	position:absolute; 
	z-index: 1;
}

.event-title-row
{
	height:20px;
}

.modal-header {
	background-color: black;
	color: white;
}

.modal-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.8em;
	vertical-align: bottom;
}

.modal-icon {
	height: 40px;
	margin-right: 20px;
}

.close {
	color: white;
	opacity: 1;
}

.close:hover {
	color: white;
}

.modal-body {
	padding: 50px;
}

#event-basic-info {
	border-right: 1px dashed black;
}

#event-specifications {

}

#event-description {
	border-top: 1px dashed black;
	margin-top: 30px;
}

.specification-icon {
	height: 50px;
}