/* Header row with text and main search bar */

#welcome-row
{
	background: url('/static/welcome_row_background.png');
	background-size:cover;
	padding: 80px 100px;
	height:300px;
	color:white;
	font-weight: bold;
}

#welcome-row .highlight-text
{
	background-color: rgba(0,0,0,0.5);
	border-color: rgba(0,0,0,0.5);
	padding: 1px 10px;
	max-width: 50%;
}

#welcome-row .highlight-text h1
{
	margin-top: 10px;
}

#welcome-row form
{
	padding:2px;
	height:50px;
	width: 85%;
	background-color: #001537;
	border-color: #001537;
}

#welcome-row form .form-group
{
	max-width: 25%;
}


#welcome-row form .form-group .form-control
{
	height:100%;
	font-size: 20px;
}

#welcome-row form #sign-in-button-group
{
	width:10.5%;
}

#welcome-row form .form-group button
{
	height:100%;
	width:100%;
	background-color: #428bca;
	color: #ffffff;
}

#welcome-row form .form-group button:hover
{
	background-color: #3276b1;
}

/* Rest of page */

.main-page-logo-row
{
	margin-top: 30px;
}

.main-page-logo-row img
{
	width:100%;
	text-align: center;
}


/* Legacy */


#crash-kitchen-text-row
{
	margin-top:13px;
}

#crash-kitchen-text
{
	font-size:25px;
	font-weight: bold;
	text-align: center;
}

#filter-question-row
{
	margin-top:30px;
}


.filter-question
{
	font-size:16px;
	font-weight: bold;
	text-align:center;
	letter-spacing: 2px;
}

.filter-question select
{
	border-radius:1em;
	color:gray;
	
}

#get-ticket-logo-line
{
	margin-top:25px;
}

.on-ticket-element
{
	display: block; 
	position:absolute; 
	z-index: 1;
}