#the-navbar
{
	max-height: 50px;
	background-color:black;
	border-color: black;
	border-radius: 0;
	margin-bottom: 0px;
}

.navbar-brand
{
	min-width: 350px;
	padding: 6px 0px 10px 20px;
}

.navbar-brand img
{
	margin-bottom: 5px;
	height:70%;
	top: 0xp;
}

#navbar-brand-text
{
	color:white;
	padding-left:5px;
	font-size:23px;
	font-weight: bold;
	vertical-align: middle;
}

#navbar-brand-text a
{
	color: white;
}

#navbar-brand-text a:hover
{
	text-decoration: none;
}

#navbar-search-div
{
	position:relative;
}

#navbar-search-box
{
	vertical-align: middle;

}