{% load staticfiles %}
<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">
						<img src="{% static 'dish_white.png' %}" class="modal-icon">
						New Event
					</h4>
				</div>
				<form enctype="multipart/form-data" action="/createEvent" method="post">
					<div class="modal-body">
						{% csrf_token %}

						<div class="row">
							<div class="col-xs-6" id="event-personal-info">
								<p>who are you?</p>
								<div class="row">
									<div class="col-xs-6">
										<input type="radio" name="rsvp" required value="{{form.rsvp.field.choices.0.0}}" id="rsvp-cook">
										<label for="rsvp-cook">
											<img src="{% static 'hat_on_ticket.png' %}" class="role-icon">
											<br>
											{{form.rsvp.field.choices.0.1}}
										</label>
									</div>
									<div class="col-xs-6">
										<input type="radio" name="rsvp" required value="{{form.rsvp.field.choices.1.0}}" id="rsvp-cleaner">
										<label for="rsvp-cleaner">
											<img src="{% static 'bubbles_on_ticket.png' %}" class="role-icon">
											<br>
											{{form.rsvp.field.choices.1.1}}
										</label>
									</div>
								</div>
								<br>
								<label for="picture">add pictures of your kitchen or a meal you made</label>
								{{ form.picture }}
							</div>

							<div class="col-xs-6" id="event-details">
								what's cooking?
								{{ form.name }}
								{{ form.category }}
								{{ form.description }}

								<p>when and where?</p>
								{{ form.date }}
								{{ form.location }}							
								{{ form.city }}

								<p>gimme some numbers</p>
								{{ form.budget }}
								{{ form.max_people }}
							</div>
						</div>
						<div class="row" id="event-specifications">
							<div class="col-xs-4">
								Tags:
							</div>
							<div class="col-xs-2">
								{{ form.is_vegeterian }}
								<label for="id_is_vegetarian">
									<img src="{% static 'veg_icon.png' %}"
											class="specification-icon">						
									<br>vegetarian</label>
							</div>
							<div class="col-xs-2">
								{{ form.is_vegan }}
								<label for="id_is_vegan">
									<img src="{% static 'vegan_icon.png' %}"
											class="specification-icon">						
									<br>vegan</label>
							</div>
							<div class="col-xs-2">
								{{ form.is_kosher }}
								<label for="is_kosher">
									<img src="{% static 'kosher_icon.png' %}"
											class="specification-icon">						
									<br>kosher</label>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Never Mind</button>
						<button type="submit" class="btn btn-primary">Let's Eat!</button>
					</div>
				</form>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->