{% load staticfiles %}
<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">
						<img src="{% static 'dish_white.png' %}" class="modal-icon">
						New Event
					</h4>
				</div>
				<form enctype="multipart/form-data" action="/createEvent" method="post">
					<div class="modal-body">
						{% csrf_token %}

						<div class="row">
							<div class="col-xs-6" id="event-personal-info">
								<p>Who Are You?</p>
								<div class="row">
									<div class="col-xs-6 role-container">
										<input type="radio" name="rsvp" required value="{{form.rsvp.field.choices.0.0}}" id="rsvp-cook">
										<label for="rsvp-cook" class="unchecked-label">
											<img src="{% static 'grey_hat_on_ticket_icon.png' %}" class="role-icon">
											<br>
											{{form.rsvp.field.choices.0.1}}
										</label>
									</div>
									<div class="col-xs-6 role-container">
										<input type="radio" name="rsvp" required value="{{form.rsvp.field.choices.1.0}}" id="rsvp-cleaner">
										<label for="rsvp-cleaner" class="unchecked-label">
											<img src="{% static 'grey_bubbles_on_ticket_icon.png' %}" class="role-icon">
											<br>
											{{form.rsvp.field.choices.1.1}}
										</label>
									</div>
								</div>
								<br>
								<label for="id_picture">
									<div id="add-pic">add pictures of your kitchen or a meal you made</div>
								</label>
								{{ form.picture }}
							</div>

							<div class="col-xs-6" id="event-details">
								<p>What's Cooking?</p>
								{{ form.name }}
								{{ form.category }}
								{{ form.description }}
								<p></p>

								<p>When and Where?</p>
								{{ form.date }}
								{{ form.location }}							
								{{ form.city }}
								<p></p>

								<p>Gimme Some Numbers</p>
								<p id="numbers-details">
									{{ form.budget }}
									<label for="id_budget">$ in total</label>
									<br>
									{{ form.max_people }}
									<label for="id_max_people">crashers at most</label>
								</p>
							</div>
						</div>
						<div class="row" id="event-specifications">
							<div id="tags-title" class="col-xs-4">
								Tags:
							</div>
							<div class="col-xs-offset-2"></div>
							<div class="col-xs-2 specification-container" name="gfg">
								{{ form.is_vegeterian }}
								<label for="id_is_vegeterian" class="unchecked-label">
									<img src="{% static 'grey_veg_icon.png' %}"
											class="specification-icon">						
									<br>vegetarian</label>
							</div>
							<div class="col-xs-2 specification-container">
								{{ form.is_vegan }}
								<label for="id_is_vegan" class="unchecked-label">
									<img src="{% static 'grey_vegan_icon.png' %}"
											class="specification-icon">						
									<br>vegan</label>
							</div>
							<div class="col-xs-2 specification-container">
								{{ form.is_kosher }}
								<label for="id_is_kosher" class="unchecked-label">
									<img src="{% static 'grey_kosher_icon.png' %}"
											class="specification-icon">						
									<br>kosher</label>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Never Mind</button>
						<button type="submit" class="btn btn-primary" id="eat-button">Let's Eat!</button>
					</div>
				</form>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->