{% load staticfiles %}
<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">
						<img src="{% static 'dish_white.png' %}" class="modal-icon">
						New Event
					</h4>
				</div>
				<form enctype="multipart/form-data" action="/createEvent" method="post">
					<div class="modal-body">
						{% csrf_token %}

						<div class="row">
							<div class="col-xs-6" id="event-basic-info">
								<label for="rsvp">who are you?</label>
								{{ form.rsvp }}

								<label for="category">category:</label>
								{{ form.category }}

								<label for="name">what's cooking?</label>
								{{ form.name }}

								<p>when and where?</p>
								<label for="id_date">when?</label>
								{{ form.date }}
								<br>
								<label for="id_location">where?</label>
								{{ form.location }}							
								<label for="id_city"></label>
								{{ form.city }}

								<p>gimme some numbers</p>
								<label for="id_budget">budget:</label>
								{{ form.budget }}
								<label for="id_max_people">maximum crashing party:</label>
								{{ form.max_people }}
							</div>

							<div class="col-xs-6" id="event-specifications">
								any specification?

								<div class="row">
									<div class="col-xs-6">
										{{ form.is_vegeterian }}
										<label for="id_is_vegetarian">
											<img src="{% static 'veg_icon.png' %}"
											class="specification-icon">
											<br>
											vegetarian
										</label>
									</div>
									<div class="col-xs-6">
										{{ form.is_vegan }}
										<label for="id_is_vegan">
											<img src="{% static 'vegan_icon.png' %}"
											class="specification-icon">
											<br>
											vegan
										</label>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6">
										{{ form.is_kosher }}
										<label for="is_kosher">
											<img src="{% static 'kosher_icon.png' %}"
											class="specification-icon">
											<br>
											kosher
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row" id="event-description">
							<div class="col-xs-4">
								<label for="picture">add pictures of your kitchen or a meal you made</label>
								{{ form.picture }}
							</div>
							<div class="col-xs-8">
								<label for="description">describe this event: what are you going to prepare? what will be the atmosphere?</label>
								{{ form.description }}
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Never Mind</button>
						<button type="submit" class="btn btn-primary">Let's Eat!</button>
					</div>
				</form>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->