{% load url from future %}
<html>
<head>
{% load staticfiles %}
<title>Welcome to Kitchen Crashers!</title>
<link href="{{ STATIC_URL }}css/facebook.css" type="text/css"
	rel="stylesheet" media="all" />
<link
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
	rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script
	src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
	{% include 'django_facebook/_facebook_js.html' %}

	<nav class="navbar navbar-default" role="navigation" id="the-navbar">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="#"> <img
				src="{% static 'kitchen_crashers_logo.png' %}"> <span
				id="navbar-brand-text">KITCHEN CRASHERS</span>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">

			<form class="navbar-form navbar-right" role="search">
				<div class="form-group">
					<input type="text" id="navbar-search-box" class="form-control"
						placeholder="Search">
				</div>
			</form>
		</div>
		<!-- /.navbar-collapse -->
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form action="{% url 'facebook_connect' %}?facebook_login=1
		"
					method="post">
					<a href="javascript:void(0);" style="font-size: 20px;"
						onclick="F.connect(this.parentNode);"> <img
						src="{% static 'connect_with_facebook.jpg' %}"
						style="position: relative; left: 37.5%; height: 5%; width: 15%"></a>
					<input type="hidden" value="{{ request.path }}" name="next" /> <input
						type="hidden" value="{{ request.path }}" name="register_next" />
					<input type="hidden" value="{{ request.path }}" name="error_next" />
					{% csrf_token %}
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1 col-md-offset-5" align="middle">
				<img src="{% static 'crash_kitchen_logo.png' %}"
					class="main-page-logo">
			</div>
		</div>
		<div class="row" id="crash-kitchen-text-row">
			<div class="col-md-3 col-md-offset-4" id="crash-kitchen-text">CRASH
				A KITCHEN</div>
		</div>
		<div class="row" id="filter-question-row">
			<div class="col-md-5 col-md-offset-3 filter-question">
				I want to <select>
					<option>Cook</option>
					<option>Clean</option>
				</select> at <select>
					<option>Tel Aviv</option>
					<option>Jerusalem</option>
					<option>Haifa</option>
				</select> <select>
					<option>Italian</option>
					<option>Mexican</option>
				</select> food,
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-md-offset-3 filter-question">
				For <select>
					<option selected disabled>from</option>
					<option>10</option>
					<option>20</option>
					<option>30</option>
					<option>40</option>
				</select> to <select>
					<option selected disabled></option>
					<option>40</option>
					<option>50</option>
					<option>60</option>
				</select> add filter: <select>
					<option selected disabled>new filter</option>
				</select>
			</div>
		</div>
		<div class="row" id="get-ticket-logo-line">
			<div class="col-md-1 col-md-offset-5" align="middle">
				<img src="{% static 'get_ticket_icon.png' %}" align="middle"
					class="main-page-logo">
			</div>
		</div>
		<div class="row" id="crash-kitchen-text-row">
			<div class="col-md-3 col-md-offset-4" id="crash-kitchen-text">GET
				A TICKET</div>
		</div>
		<hr>
		<div class="row">
			{% for event in events %}
			<div class="col-md-4" align="center">
				<div id="title-container"
					style="font-size: 25px; line-height: 2; text-decoration: underline; ">
					{{event.name}}
				</div>
				<div id="outer-container"
					style="width: 88%; padding-top: 28%; position: relative">
					<div id="container"
						style="width: 100%; display: block; position: absolute; top: -3%; bottom: -25%; right: 0%; left: 0%">
						<img src="{% static 'ticket_frame.png' %}"
							style="display: block; width: 100%; height: 100%; z-index: 0; position: absolute;" />
						<img src="{% static 'kitchen.jpg' %}" class="on-ticket-element"
							style="top: 23%; left: 8%; width: 18%; height: 40%" id="">
						<img src="{% static 'living_room.jpg' %}"
							class="on-ticket-element"
							style="top: 69%; left: 8%; width: 3.5%; height: 8%" id="">
						<span class="on-ticket-element"
							style="top: 69%; left: 12%; font-size: 11px">{{event.organizer.user.get_short_name}}</span>

						<img src="{% static 'ticket_vertical.png' %}"
							class="on-ticket-element"
							style="top: 20%; left: 30%; width: 4.5%; height: 60%" id="">

						<span class="on-ticket-element"
							style="top: 21%; left: 40%; font-size: 11px; font-weight: bold;">{{event.date|date:"b"|upper}}.</span>
						<span class="on-ticket-element"
							style="top: 24%; left: 36%; font-size: 44px;">{{event.date|date:"d"}}</span>
						<span class="on-ticket-element"
							style="top: 68%; left: 37%; font-size: 11px;"
							title="{{event.location}}, {{event.city}}">{{event.city|truncatechars:"8"}}</span>


						<span class="on-ticket-element"
							style="background-color: gray; top: 20%; left: 52.5%; height: 61%; width: 0.4%;"></span>
						<span class="on-ticket-element"
							style="background-color: gray; top: 40%; left: 52.5%; height: 0.6%; width: 42%;"></span>
						<span class="on-ticket-element"
							style="background-color: gray; top: 58%; left: 52.5%; height: 0.6%; width: 42%;"></span>

						<span class="on-ticket-element"
							style="top: 15%; left: 56%; width: 40%; font-size: 13px; font-weight: bold; line-height: 14px;">{{event.name}}</span>
						<span class="on-ticket-element"
							style="top: 43%; left: 56%; width: 34%; font-size: 11px; font-weight: bold;">
							{{event.date|date:"l"|slice:"3"}} at {{event.date|date:"P"}}</span> <img
							src="{% static 'hat_on_ticket.png' %}" class="on-ticket-element"
							style="top: 66%; left: 56.5%; width: 4%;"> <span
							class="on-ticket-element"
							style="top: 64%; left: 61.5%; font-size: 14px">{{event.num_cooks}}</span>

						<img src="{% static 'bubbles_on_ticket.png' %}"
							class="on-ticket-element"
							style="top: 65%; left: 68.5%; width: 4%;"> <span
							class="on-ticket-element"
							style="top: 64%; left: 74%; font-size: 14px">{{event.num_cleaners}}</span>
						<img src="{% static 'map_icon.png' %}" class="on-ticket-element"
							style="top: 65%; left: 80%; width: 3%; height: 12%;"> <img
							src="{% static 'clock_on_ticket.png' %}"
							class="on-ticket-element"
							style="top: 66%; left: 86%; width: 5%; height: 11%;">
					</div>
				</div>
			</div>
			{% if forloop.counter|divisibleby:"3" %}
		</div>
		<div class="clearfix visible-md"></div>
		<hr style="margin-top: 3%">
		<div class="row">{% endif %} {% endfor %}</div>
	</div>
	<hr style="margin-top: 25px;">

</body>
</html>