{% extends "base.html" %}
{% load staticfiles %}

{% block page_body %}

<div class="container">
	<!-- Welcome Row -->
	<div class="row" id="welcome-row">
		<div class="well highlight-text">
			<h1>CRASH A KITCHEN</h1>
			<h3>Hungry? Join a meal near you and meet new people!</h3>
		</div>
		<form class="well form-inline" role="form">
			<div class="form-group">
				<select class="form-control">
					<option>I want to cook</option>
					<option>I want to clean</option>
				</select>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Where?">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="What style?">
			</div>
			<div class="form-group">
				<select class="form-control" placeholder="Price range">
					<option>Less than 15$</option>
					<option>15-30$</option>
					<option>30-100$</option>
					<option>More than 100$</option>
				</select>
			</div>
			<div class="form-group" id="sign-in-button-group">
				<button type="submit" class="btn btn-default">CRASH</button>
			</div>
		</form>
	</div>

	<!-- Button trigger modal -->
	<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
		Launch demo modal
	</button>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">
						<img src="{% static 'dish_white.png' %}" class="modal-icon">
						New Event
					</h4>
				</div>
				<form enctype="multipart/form-data" action="/createEvent" method="post">
					<div class="modal-body">
						{% csrf_token %}

						<div class="row">
							<div class="col-xs-6" id="event-basic-info">
								<label for="rsvp">who are you?</label>
								{{ form.rsvp }}

								<label for="category">category:</label>
								{{ form.category }}

								<label for="name">what's cooking?</label>
								{{ form.name }}

								<p>when and where?</p>
								<label for="id_date">when?</label>
								{{ form.date }}
								<br>
								<label for="id_location">where?</label>
								{{ form.location }}							
								<label for="id_city"></label>
								{{ form.city }}

								<p>gimme some numbers</p>
								<label for="id_budget">budget:</label>
								{{ form.budget }}
								<label for="id_max_people">maximum crashing party:</label>
								{{ form.max_people }}
							</div>

							<div class="col-xs-6" id="event-specifications">
								any specification?

								<div class="row">
									<div class="col-xs-6">
										{{ form.is_vegeterian }}
										<label for="id_is_vegetarian">
											<img src="{% static 'veg_icon.png' %}"
											class="specification-icon">
											<br>
											vegetarian
										</label>
									</div>
									<div class="col-xs-6">
										{{ form.is_vegan }}
										<label for="id_is_vegan">
											<img src="{% static 'vegan_icon.png' %}"
											class="specification-icon">
											<br>
											vegan
										</label>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6">
										{{ form.is_kosher }}
										<label for="is_kosher">
											<img src="{% static 'kosher_icon.png' %}"
											class="specification-icon">
											<br>
											kosher
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row" id="event-description">
							<div class="col-xs-4">
								<label for="picture">add pictures of your kitchen or a meal you made</label>
								{{ form.picture }}
							</div>
							<div class="col-xs-8">
								<label for="description">describe this event: what are you going to prepare? what will be the atmosphere?</label>
								{{ form.description }}
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Never Mind</button>
						<button type="submit" class="btn btn-primary">Let's Eat!</button>
					</div>
				</form>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="row" id="crash-kitchen-text-row">
		<div class="col-md-3 col-md-offset-4" id="crash-kitchen-text">UPCOMING MEALS:</div>
	</div>
</div>
<div class="row">
	{% for event in events %}
	<div class="col-md-4" align="center">
		<div id="title-container"
		style="font-size: 25px; line-height: 2; text-decoration: underline; ">
		{{event.name}}
	</div>
	<div id="outer-container"
	style="width: 88%; padding-top: 28%; position: relative">
	<div id="container"
	style="width: 100%; display: block; position: absolute; top: -3%; bottom: -25%; right: 0%; left: 0%">
	<img src="{% static 'ticket_frame.png' %}"
	style="display: block; width: 100%; height: 100%; z-index: 0; position: absolute;" />
	{% if event.picture %}
	<img src="{{event.picture.url}}" class="on-ticket-element"
	style="top: 23%; left: 8%; width: 18%; height: 40%" id="">
	{% else %}
	<img src="{% static 'kitchen_crashers_logo.png' %}" class="on-ticket-element"
	style="top: 23%; left: 8%; width: 18%; height: 40%" id="">
	{% endif %}
	<img src="{{event.organizer.user.picture.url}}"
	id="user-picture"
	class="on-ticket-element"
	style="top: 69%; left: 8%; width: 3.5%; height: 8%" id="">
	<span class="on-ticket-element"
	style="top: 69%; left: 12%; font-size: 11px">{{event.organizer.user.get_short_name}}</span>

	<img src="{% static 'ticket_vertical.png' %}"
	class="on-ticket-element"
	style="top: 20%; left: 30%; width: 4.5%; height: 60%" id="">

	<span class="on-ticket-element"
	style="top: 21%; left: 40%; font-size: 11px; font-weight: bold;">{{event.date|date:"b"|upper}}.</span>
	<span class="on-ticket-element"
	style="top: 24%; left: 36%; font-size: 44px;">{{event.date|date:"d"}}</span>
	<span class="on-ticket-element"
	style="top: 68%; left: 37%; font-size: 11px;"
	title="{{event.location}}, {{event.city}}">{{event.city|truncatechars:"8"}}</span>


	<span class="on-ticket-element"
	style="background-color: gray; top: 20%; left: 52.5%; height: 61%; width: 0.4%;"></span>
	<span class="on-ticket-element"
	style="background-color: gray; top: 40%; left: 52.5%; height: 0.6%; width: 42%;"></span>
	<span class="on-ticket-element"
	style="background-color: gray; top: 58%; left: 52.5%; height: 0.6%; width: 42%;"></span>

	<span class="on-ticket-element"
	style="top: 15%; left: 56%; width: 40%; font-size: 13px; font-weight: bold; line-height: 14px;">{{event.name}}</span>
	<span class="on-ticket-element"
	style="top: 43%; left: 56%; width: 34%; font-size: 11px; font-weight: bold;">
	{{event.date|date:"l"|slice:"3"}} at {{event.date|date:"P"}}</span> <img
	src="{% static 'hat_on_ticket.png' %}" class="on-ticket-element"
	style="top: 66%; left: 56.5%; width: 4%;"> <span
	class="on-ticket-element"
	style="top: 64%; left: 61.5%; font-size: 14px">{{event.num_cooks}}</span>

	<img src="{% static 'bubbles_on_ticket.png' %}"
	class="on-ticket-element"
	style="top: 65%; left: 68.5%; width: 4%;"> <span
	class="on-ticket-element"
	style="top: 64%; left: 74%; font-size: 14px">{{event.num_cleaners}}</span>
	<img src="{% static 'map_icon.png' %}" class="on-ticket-element"
	style="top: 65%; left: 80%; width: 3%; height: 12%;"> <img
	src="{% static 'clock_on_ticket.png' %}"
	class="on-ticket-element"
	style="top: 66%; left: 86%; width: 5%; height: 11%;">
</div>
</div>
</div>
{% if forloop.counter|divisibleby:"3" %}
</div>
<div class="clearfix visible-md"></div>
<hr style="margin-top: 3%">
<div class="row">{% endif %} {% endfor %}</div>
</div>
{% endblock %}