<script type="text/html" id="location-filter-template">
<div class="search-label"> at </div>
<input type="text" class="location-search btn btn-default btn-search search-element" name="location" value="[[ caption ]]">
</script>

<script type="text/html" id="category-filter-template">
<input type="text" class="btn btn-default btn-search category-search search-element" value="[[ caption ]]">
</script>

<script type="text/html" id="my-job-filter-template">
<div class="btn-group">
    <button type="button" class="btn btn-default btn-search dropdown-toggle search-element" data-toggle="dropdown"> I want to [[ caption ]] <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#" class="dropdown-option">I want to Cook</a></li>
        <li><a href="#" class="dropdown-option">I want to Clean</a></li>
        <li><a href="#" class="dropdown-option">I want to Cook or Clean</a></li>
    </ul>
</div>      
</script>

<script type="text/html" id="meal-filter-template">
<div class="btn-group">
    <button type="button" class="btn btn-default btn-search dropdown-toggle search-element" data-toggle="dropdown"> [[ caption ]] <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#" class="dropdown-option">for Lunch</a></li>
        <li><a href="#" class="dropdown-option">for Breakfast</a></li>
        <li><a href="#" class="dropdown-option">for Anything</a></li>
    </ul>
</div>
</script>

<script type="text/html" id="price-filter-template">
<div class="search-label"> for </div>
<input type="text" class="btn btn-default btn-search money-from search-element" value="[[ min ]]" size="4">
<div class="search-label"> to </div>
<input type="text" class="btn btn-default btn-search money-to search-element" value="[[ max ]]" size="4">
<div class="search-label"> NIS </div>&nbsp;
</script>


<script type="text/html" id="add-filter-template">
<div class="btn-group">
    <button type="button" class="btn btn-default btn-search dropdown-toggle search-element" data-toggle="dropdown"> Add another filter <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        [[#filters]]
        <li><a href="#" class="add-filter-link" data-filter="[[name]]">[[text]]</a></li>
        [[/filters]]
    </ul>
</div>
</script>