{% extends "base.html" %}
{% load dajaxice_templatetags %}

{% load staticfiles %}
{% block more_scripts %}
<link href="{% static 'css/typeahead.js-bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/search.css' %}" rel="stylesheet">
<script src="{% static 'js/typeahead.min.js' %}"></script>
<script src="{% static 'js/hogan.js' %}"></script>
<script src="{% static 'js/search.js' %}"></script>
<script src="{% static 'js/search-interface.js' %}"></script>
{% include 'search-clientside-templates.html' %}

<script src="{{STATIC_URL}}js/eventDisplay.js"></script>
{% dajaxice_js_import %}

<script>
$(function() {
	var searchResultsTemplate = Hogan.compile($("#search-results-template")[0].innerHTML,{delimiters: "[[ ]]"});

	fg = new FilterGroup($("#search-form"), $("#add-filter-template")[0].innerHTML,
        function(fg) {
            Dajaxice.kitchencrashers.main.views.search_api(
            	function(data) {
            		events = data.events;
            		
            		groups = [];
            		curr = [];
            		for(var i in events) {
            			if ((i % 3 == 0) && (curr.length > 0)) {
            				groups.push(curr);
            				curr = [];
            			}

            			var e = events[i].fields;
            			e.name = e.name.slice(0,15);
            			if (e.picture.length == 0) { e.picture = undefined; }
            			curr.push(e);
            		}

            		if ( curr.length > 0 ) {
            			groups.push(curr);
            		}

            		$("#search-results").empty();
            		$("#search-results").html(searchResultsTemplate.render({groups:groups}));
            		initializeEventHover();
            	},
            	{data:JSON.stringify(fg.toQuery())}
            );
        }
    );
    fg.add_type(location_filter);
    fg.add_type(category_filter);
    fg.add_type(my_job_filter);
    fg.add_type(price_filter);
    fg.add_type(meal_filter);

    fg.create("my_job");
    fg.create("location");
    fg.create("category");
});
</script>
{% endblock %}

{% block page_body %}
<div class="row" id="search-row">
    <form class="search-form" target='' id="search-form">
        <div class="filters">
        </div>
        <button type='submit' class='btn btn-primary'>Crash</button>
        <div class="add-filter">
        </div>
    </form>

</div>

<div class="container" id="search-results">
</div>

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
</button>

{% include 'addEventModal.html' %} {% endblock %}
