{% extends "base.html" %}
{% load staticfiles %}

{% block more_stylesheets %}
    <link rel="stylesheet" href="{% static 'css/ShowEvent.css' %}">
{% endblock %}

{% block page_body %}
    <div class="container">
        <!--div class="row">
            <h1>{{ event.name }}</h1>
            <h4>{{ event.category }}</h4>
        </div-->
        <div id="event-description-all" class="row">
            
            <div id="event-photos-container" class="col-md-4 col-md-offset-2"> <!--border-right -->
                <img id="event-main-picture" src="{{ event.picture.url }}" height="270px">
            </div>
            <div id="event-details-container" class="col-md-4">
                <div id="event-details-ticket" class="clearfix">
                    <div id="ticket-div-1" class="event-details-ticket-boxes">
                        <div id="ticket-div-1-1">
                            <div id="ticket-div-1-1-1" class="clearfix">
                                <div id="ticket-div-1-1-1-1" >
                                    <img id="cookers-logo"
                                     src="{% static 'hat_on_ticket.png' %}" class="ticket-logos">
                                </div>
                                <div id="ticket-div-1-1-1-2">
                                    <span class="on-ticket-element-new ticket-texts counter-text">{{event.num_cooks}}</span>
                                </div>
                            </div>
                            <div id="ticket-div-1-1-2">
                                <span class="on-ticket-element-new ticket-texts counter-title-text">Cooks</span>
                            </div>
                        </div>
                        <div id="ticket-div-1-2">
                            <div id="ticket-div-1-2-1">
                                <div id="ticket-div-1-2-1-1">
                                    <img id="cleaners-logo" src="{% static 'bubbles_on_ticket.png' %}"
                             class="ticket-logos">
                                </div>
                                <div id="ticket-div-1-2-1-2">
                                    <span class="on-ticket-element-new ticket-texts counter-text"
                                    >{{event.num_cleaners}}</span>
                                </div>
                            </div>
                            <div id="ticket-div-1-2-2">
                                <span class="on-ticket-element-new ticket-texts counter-title-text">Cleaners</span>
                            </div>
                        </div>
                    </div>
                    <div id="ticket-div-2" class="event-details-ticket-boxes">
                         <img src="{% static 'ticket_vertical.png' %}"
                             class="on-ticket-element-new ticket-logos"
                             id="ticket-logo-line-1">
                    </div>
                    <div id="ticket-div-3" class="event-details-ticket-boxes">
                        <div id="ticket-div-3-1" class="event-details-ticket-boxes">
                            <span id='event-date-text-month' class="on-ticket-element-new"
                              style="">{{event.date|date:"b"|upper}}.</span>
                        </div>
                        <div id="ticket-div-3-2" class="event-details-ticket-boxes">
                            <span id="event-date-text-day" class="ticket-texts"
                              >{{event.date|date:"d"}}</span>
                        </div>
                        <div id="ticket-div-3-3" class="event-details-ticket-boxes">
                            <span id='event-location-text' class="ticket-texts"
                              title="{{event.location}}, {{event.city}}">{{event.city|truncatechars:"8"}}</span>
                        </div>

                    </div>
                    <div id="ticket-div-4" class="event-details-ticket-boxes">
                        <span id="event-name-text" class="on-ticket-element-new ticket-texts"
                              >{{event.name|truncatechars:"30"}}</span>
                    </div>
                </div>
                <hr id="separator-line-1">
                <div id="event-details-secondary-title-1" class="event-details-secondary-title">
                    {{event.date|date:"l"|slice:"3"}} at {{event.date|date:"P"}}
                    <!--Tomorrow, 19/8/13, 21:00 at Shiri's place,-->
                </div>
                <div id="event-details-secondary-title-2" class="event-details-secondary-title">
                    {{event.location}}
                </div>
                <div id="event-explanations">
                    <div id="publishing-user">
                        <h4 id="user-name">
                            <img src="{{event.organizer.user.picture.url}}"
                             id="user-picture"
                             class="on-ticket-element-new"
                             >
                            {{event.organizer}}
                        </h4>
                    </div>
                    <p id="event-details-full-text">
                        {{event.description}}
                    </p>
                    <div id="budget-details-total">
                        <strong>Total Budget: {{event.budget}}$</strong>
                    </div>
                    <div id="budget-details-per-person">
                        If you join now cost per person is <b>{{ event.per_person }}$</b
                    </div>
                    <div></div>
                    <div id="event-tags">
                        <strong>Tags:</strong> 

                        {% if event.is_vegan %}
                        <img src="{% static 'vegan_icon.png' %}" height="25px" width="25px" title="Veggie">
                        {% endif %}
                        {% if event.is_kosher %}
                        <img src="{% static 'kosher_icon.png' %}" height="25px" width="25px" title="Kosher">
                        {% endif %}
                        {% if event.is_vegeterian %}
                        <img src="{% static 'vegetarian_icon.gif' %}" height="25px" width="25px">
                        {% endif %}
                    </div>
                    <hr id="separator-line-2">
                    <div id="crash-this-kitchen-button">
                        <div class="col-lg-1 col-lg-offset-8">
                           <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">CRASH THAT KITCHEN</button></div>
                           <button type="button" class="btn btn-default" data-dismiss="modal">Never Mind</button>
                        </div>
                    </div>
            </div>

            </div>
            <div class="col-lg-3 col-lg-offset-1"  align="center">
            </div>


 <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">
            <img src="{% static 'dish_white.png' %}" class="modal-icon">
            New Event
          </h4>
        </div>
        <form enctype="multipart/form-data" action="/addParticipantToEvent/{{event.id}}" method="post">
          <div class="modal-body">
            {% csrf_token %}

            <div class="row">
              <div class="col-xs-6" id="event-personal-info">
                <p>Who Are You?</p>
                <div class="row">
                  <div class="col-xs-6">
                    <input type="radio" name="rsvp" required value="{{form.rsvp.field.choices.0.0}}" id="rsvp-cook">
                    <label for="rsvp-cook">
                      <img src="{% static 'hat_on_ticket.png' %}" class="role-icon">
                      <br>
                      {{form.rsvp.field.choices.0.1}}
                    </label>
                  </div>
                  <div class="col-xs-6">
                    <input type="radio" name="rsvp" required value="{{form.rsvp.field.choices.1.0}}" id="rsvp-cleaner">
                    <label for="rsvp-cleaner">
                      <img src="{% static 'bubbles_on_ticket.png' %}" class="role-icon">
                      <br>
                      {{form.rsvp.field.choices.1.1}}
                    </label>
                  </div>
                </div>
                <br>
              </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Never Mind</button>
            <button type="submit" class="btn btn-primary" id="eat-button">Let's Eat!</button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->           
{% endblock %}
